<head>
  <meta charset='utf-8' />
</head>
<html>
  <body style='width: 40%'>
    <p>Hello, {{userEmail}}!</p>
    <div>
      <p>
        We have received a request to reset your password.<br />
        Enter this code to reset your password -
      </p>
    </div>
    <div
      style='
        width: 30%;
        text-align: center;
        border: solid blue 1px;
        border-radius: 10px;
        padding: 10px;
        background-color: rgba(135, 206, 250, 0.267);
      '
    >
      <p>{{code}}</p>
    </div>
  </body>
</html>